<!DOCTYPE html>
<html>
<head>
    <title>Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="page-wrapper">
        <h1><a href="{{url_for('home_page')}}">Photos</a></h1>
        <h2><a href="{{url_for('upload_page')}}">Upload</a></h2>
    </header>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <footer></footer>
</body>
</html>
