{% extends "_layout.html" %}

{% block content %}
<div class="page-wrapper">
    <p><strong>Create a new album:</strong></p>
    <form action="/api/album" method="post">
        <input type="text" name="name" placeholder="Eg. USA Trip">
        <input type="submit" value="Submit">
    </form>
    {% if album_message %}
        <p>{{album_message}}</p>
    {% endif %}
    {% if album_url %}
        <div>
            <a href="{{album_url}}">View album '{{album_name}}' here</a>
        </div>
        <div>
            <a href="/upload">Upload photos here</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/create_album.js')}}"></script>
{% endblock %}
