@value header_height from 'styles/variables.css';

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: header_height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 4
}

.image {
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    opacity: 0;
}

.imageLoaded {
    opacity: 1;
}

.loading {
    position: fixed;
    color: #fff;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 2rem;
    transition: opacity .3s ease 0.3s;
    opacity: 0;
}

.loadingVisible {
    opacity: 1;
}


.counter {
    /* duplicated */
    font-size: 14px;
    text-shadow: 2px 2px #333;
    cursor: pointer;
    color: #fff;
    z-index: 2;
    user-select: none;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    /* duplicated */
    font-size: 30px;
    text-shadow: 2px 2px #333;
    cursor: pointer;
    color: #fff;
    z-index: 2;
    user-select: none;

    position: fixed;
    bottom: 0px;
    left: 25px;
    transform: translateY(-50%);
}

.right {
    /* duplicated */
    font-size: 30px;
    text-shadow: 2px 2px #333;
    cursor: pointer;
    color: #fff;
    z-index: 2;
    user-select: none;

    position: fixed;
    bottom: 0px;
    right: 25px;
    transform: translateY(-50%);
}

@media (max-width: 800px) {
    .left, .right {
        display: none;
    }
}

.close {
    /* duplicated */
    font-size: 50px;
    text-shadow: 1px 2px 5px #000;
    cursor: pointer;
    color: #fff;
    z-index: 2;
    user-select: none;

    position: fixed;
    top: 50px;
    right: 15px;
}
