{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <h1 class="album-title">
        {{object.name}}
        <hr>
    </h1>
</div>
<div class="images page-wrapper">
{% for photo in photos %}
<img
    class="thumb"
    height="{{ thumb_height }}px"
    width="{{ thumb_width }}px"
    src="{{ photo.get_thumb_url }}"
/>
{% endfor%}
{% include 'sections/display_modal_include.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
