{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
{% endblock head %} {% block content %}
<div id="app">
  <header>
    <div class="inner">
      <h1>{{ title }}</h1>
    </div>
  </header>
  <div class="content">
    <h2>Loading memories...</h2>
  </div>
</div>
{% endblock %} 
{% block scripts %}
<script type="text/javascript">
  let bootstrapData = JSON.parse("{{bootstrap_data | escapejs }}");
</script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}
