{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <h2>Summary</h2>
    <p>{{not_uploaded_photos.count}} not uploaded to S3.</p>
    <p>{{not_thumbnailed_photos.count}} not thumnailed.</p>
    <form action="/review/" method="post">
        {% csrf_token %}
        <input type="submit" value="Submit Job">
    </form>
    <h2>Not Uploaded</h2>
    {% for photo in not_uploaded_photos %}
    <p>{{photo.title}}</p>
    {% empty %}
    <p>All uploaded photos have been copied to S3</p>
    {% endfor%}
    <h2>Not Thumbnailed</h2>
    {% for photo in not_thumbnailed_photos %}
    <p>{{photo.title}}</p>
    {% empty %}
    <p>All uploaded photos have been thumbnailed</p>
    {% endfor%}
</div>
{% endblock %}

