{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div id="upload-controls">
        <p><strong>Select album</strong></p>
        <select id="select-album">
            <option value="">-</option>
            {% for album in albums %}
                <option value="{{album.slug}}">{{album.name}}</option>
            {% endfor %}
        </select>
        <div id="new-album-link">
            <a href="{% url 'album-create' %}">Create new album</a>
        </div>
        <p id="status"><strong>Select image(s) to upload</strong></p>
        <input type="file" multiple id="file-input">
    </div>
    <div id="upload-list"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}
