.button {
    background-color: #fff;
    border: solid 1px #999;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 1.4rem;
}

.button + .button {
    margin-left: 1rem;
}

.button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #666;
}

.button[disabled] {
    color: #999;
    border: solid 1px #eee;
}

.button[disabled]:hover {
    cursor: not-allowed;
    background-color: #fff;
}
