@value black from 'styles/variables.css';
@value header_height, max_width from 'styles/variables.css';

.header {
    height: header_height;
    box-shadow: 0px 0px 3px 3px #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.inner {
    max-width: max_width;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: #333;
}
