.wrapper {
    position: relative;
}

.preLoad {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1.5s;
}

.thumbnail {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Aspect ratio is 1.607*/
    height: calc((100vw - 3rem) / 2 / 1.607);

}

@media (min-width: 500px) {
    .thumbnail {
        height: calc((100vw - 3rem) / 4 / 1.607);
    }
}

@media (min-width: 800px) {
    .thumbnail {
        height: calc((800px - 3rem) / 4 / 1.607);
    }
}
