# Backend
django
psycopg2-binary
boto3
Pillow
celery[redis]
raven
gunicorn
django-storages
djangorestframework

# Frontend
whitenoise
django-webpack-loader

# Admin
django-extensions
ipython

# Dev
django-debug-toolbar
flake8
isort
watchdog
