# Backend
django
djangorestframework

# Infra
psycopg2-binary
gunicorn
sentry-sdk
django-q
django-storages
boto3

# Images
Pillow

# Frontend
whitenoise

# Admin
django-extensions
ipython

# Dev
django-debug-toolbar
flake8
isort
watchdog[watchmedo]
