html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    position: relative;
}

h1 {
    text-align: center;
}

.page-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumb {
    cursor: pointer;
    margin: 5px;
    background-color: #ddd;
}

#upload-controls {
    margin-bottom: 1em
}

#upload-list {
    display: flex;
    flex-direction: column;
}

.upload-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

#display-image {
    height: 500px;
}

#display-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

#display-modal.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}