html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.page-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#upload-controls {
    margin-bottom: 1em
}

#upload-list {

}

.upload-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}